<main>
    <section>
        <div class="firstSection">
            <div class="leftSection">
                <div class="container">
                    <div class="heading">
                        <p class="name">About us</p>
                        <div class="container2">
                            <p class="paragraph">
                                My name is Abhishek Sharma. I am from Uttar Pradesh.
                                I did my graduation in (BS) from Allahabad state University,
                                and also i have done internship as an <span class="ang">'Angular Developer'</span> from
                                Bangalore Karnataka.
                                My strength, are I am self-motivated , hard-working , and disciplined person.
                                My short term goal is get a job in a reputed company and my long term goal to achieve
                                a good position where i can build my career as well as organization too.
                                Thank you so much.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rightSection">
                <img src="./assets/about.png" alt="developer">
            </div>
        </div>
    </section>
</main>