.container{
    margin-top: 50px;
    height: 75vh;
}

.experience .skl{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}
.skills{
    text-align: center;
    margin: 20px 0 0 0;
}
.box2{
    height: 80px;
    width: 1px;
    background-color: aliceblue;
    margin-left: 50%;
}

.text-gray{
    color: aliceblue;
    font-size: 20px;
}
.box{
    background-color: aliceblue;
    width: 80vw;
    height: 2px;
    display: flex;
}
.box .varticle{
    height: 93px;
    width: 1px;
    margin: 0 90px;
    background-color: aliceblue;
}

.varticle .image-top img{
    width: 40px;
    border-radius: 50%;
    margin: -8px -20px;
}
.varticle .verticale-title{
    font-size: 20px;
    color: aliceblue;
    font-weight: 600;
    margin: 72px -23px;
}