<section>
    <main>
        <div class="container">
            <div class="msg">
                <p class="oops">Oops !</p>
            </div>
            <div class="page-not">404 PAGE NOT FOUND</div>
            <div class="content">
                <p class="cons">
                    The page you looking for might have been removed <br>
                    had it's name changed or is temporarily unavailable.
                </p>
            </div>
            <button type="button" class="btn btn-primary"><a routerLink="/home">GO TO HOMEPAGE</a></button>
        </div>
    </main>
</section>