<main>
    <section>
        <div class="firstSection">
            <div class="leftSection">
                <div class="container">
                    <div class="heading">
                        <p class="name">Contact us</p>
                        <div class="contact">
                            <div class="mb-1"><span class="call2 mb-3">Contact : </span><span class="call"><a
                                        href="call.google">7524869790</a></span></div>
                            <div class="mb-1"><span class="mail2">E-mail : &nbsp;</span><span class="mail"><a
                                        href="https://mail.google.com/">hi2abhi.shrm@gmail.com</a></span>
                            </div>
                            <div class="mb-1"><span class="git2"> Github : </span><span class="git"><a
                                        href="https://github.com/abhi-procreator">https://github.com/abhi-procreator</a></span>
                            </div>
                            <span class="linkedin2">Likedin : </span><span class="linkedin"><a
                                    href="https://www.linkedin.com/in/abhisheksharmadev/">https://www.linkedin.com/in/abhisheksharmadev/</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rightSection">
                <img src="./assets/cont.jpg" alt="developer">
            </div>
        </div>

        <footer>
            <div class="copyright">
                <p>copyright &#169; All right reserve</p>
            </div>
        </footer>
    </section>
</main>