<main>
    <section>
        <div class="firstSection">
            <div class="leftSection">
                <div class="container">
                    <div class="heading">
                        <p class="hello">Hello , it's me</p>
                         <p class="name">Abhishek Sharma</p>

                        <div class="container2">
                            <span class="text first-text">And I'm a</span>&nbsp;
                            <span class="text sec-text">Frontend Developer</span>
                        </div>
                    </div>
                </div>


                <div class="site">
                    <a href="https://github.com/abhi-procreator" target="_blank"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/abhisheksharmadev/" target="_blank"><i
                            class="bi  bi-linkedin"></i></a>
                    <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
                </div>

                <button type="button" class="btn btn-primary"><a href="./assets/Abhishek Resume.pdf" download>Download
                        Resume</a></button>
            </div>
            <div class="rightSection">
                <img src="./assets/dev.png" alt="developer">
            </div>
        </div>
    </section>
</main>